@{
    ViewData["Title"] = "Home Page";
    DateTime timeOfDay = DateTime.Now;
    if (timeOfDay.Hour <= 12)
    {
        //
    }
}

<div class="text-center">
    <h1 class="display-4">Good @timeOfDay</h1>
    
</div>
