@model WeatherResult.Models.WeatherResultModel

@{

    /*
         * Code Citations:
         * Citation #1
         * Citation #2
         * Citation #18
         * Citation #19
         * Citation #25
         * Citation #26
        */
    ViewData["Title"] = "Home Page";
    // TODO: Turn this logic into a controller or model function and have the value returned to this View.
    // Citation #50
    DateTime timeOfDay = TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time"));
    int currentHour = timeOfDay.Hour;
    string timeGreeting = "";

    if (currentHour < 11)
    {
        timeGreeting = "Morning";
    }

    else if (currentHour >= 11 && currentHour < 16)
    {

        timeGreeting = "Afternoon";
    }

    else
    {

        timeGreeting = "Evening";
    }
}

<div class="text-center">
    <h1 class="display-4">Good @timeGreeting</h1>
    <h3>To get started with weather retrieval, simply enter location information <br> into the prompt boxes.</h3>
</div>
                
@using (Html.BeginForm("ShowResult","WeatherResult"))
{
    <div>

        <label asp-for="ZipCode">Zip Code (US only):</label>
        <input required id="zip" onchange="validateRequiredFields()" asp-for="ZipCode" />

        <label asp-for="City">City:</label>
        <input required id="city" onchange="validateRequiredFields()" asp-for="City" />

        <label asp-for="State">State:</label>
        <input required id="state" onchange="validateRequiredFields()" asp-for="State" />

        <button type="submit">Fetch Results</button>

        <a asp-action="Index">Reset</a>

    </div>

<div>
    
        <a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0"></a>

</div>

}