@model WeatherResult.Models.WeatherResultModel

@{

    /*
         * Code Citations:
         * Citation #1
         * Citation #2
         * Citation #18
         * Citation #19
        */
    ViewData["Title"] = "Weather Result";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Result</title>
</head>
<body>

    <h3>Here is the weather for the location you entered:</h3>

</body>
</html>

